@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$card-bg:#a9d6e5;
$prim-font-color:#001d3d;
$sec-font-color: #003566;
$font-style: "roboto";

body{
    font-family: $font-style;
    background-color:#ffffff;
    text-align: center;
}


.head-container{
    text-align: center;
    color: $prim-font-color;
    font-size: 1.35rem;
    padding: .5em;
}

h2{
    margin: 0em;
}

.qr-container{
    background-color:$card-bg;
    margin: 0 auto;
    display: flex;
    filter: drop-shadow(.5rem .5rem 1rem #22c5ee);
    //justify-content: center;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 1em 2em;
    border-radius: 30px;
    max-width: 300px;
   
    .maintext{
        margin-bottom: 1em;
        color:$prim-font-color;
        text-align: center;
        font-size: 1.3rem;
    }
    .subtext{
        padding: 0 2.2em;
        margin: 1em 0 ;
        color: $prim-font-color;
        font-size: 1.2rem;
    }

    .message{
        font-style: italic;
        font-size: .9rem;
        text-align: center;
        padding: inherit;
    }
    
    // button {
    //     padding: 10px 20px;
    //     border-radius: 100px;
    //     border-width: 2px;
    //     border-style: solid;
    //     font-size: 1.2rem;
    //     font-family: $font-style;
    //     cursor: pointer;
    //     transition: 0.25s ease; 
    //     color: white;
    //     margin-bottom: 1em;
    //     background: $prim-font-color; 
    // }

    // button:hover {
    //     background-color: $sec-font-color;
    // }
}


